.editorbase {
  width: 640px;
  background-color: var(--color-white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editor {
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-text-dark);
  white-space: pre-wrap;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  padding: 20px;
}

textarea {
  outline: none;
}